<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>630628051796-59r09qnkfrrdgdiunbind1ek91kn3vfq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.630628051796-59r09qnkfrrdgdiunbind1ek91kn3vfq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>630628051796-r3sge1fnhsit8mhthh8n7eh7oh4si4o1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDmkIBX8fF42iGIX-r504o2P5FAGFumjfI</string>
	<key>GCM_SENDER_ID</key>
	<string>630628051796</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chetneakV2</string>
	<key>PROJECT_ID</key>
	<string>nearyou-49d62</string>
	<key>STORAGE_BUCKET</key>
	<string>nearyou-49d62.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:630628051796:ios:87c308cef5fee57f9676c1</string>
	<key>DATABASE_URL</key>
	<string>https://nearyou-49d62.firebaseio.com</string>
</dict>
</plist>